<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="https://pay.360.cn/resource/css/webapp/base.css">
	<link rel="stylesheet" href="https://pay.360.cn/resource/css/webapp/help.css">
</head>
<body>
	<div class="title <% if(i==0){ %>first<% } %>">
		<div class="w95">
			<div><img src="https://pay.360.cn/resource/img/webapp/wz.png" class="wz"><%= subtitle %></div>
		</div>
	</div>
	<div class="text" style="display:block;border: 0">
	<div class="cont w95">
		<p><%= content %></p>
	</div>
	</div>
	<div class="back-btn w95" onclick="history.back(-1);">返回</div>
</body>
</html>