<!DOCTYPE html>
<html>
<head>
    <title></title>
	<style>
		[type=text],
		textarea{
			width: 400px;;
			vertical-align: top;
		}
		textarea{
			height: 400px;;
		}
	</style>
</head>
<body>
<form action="/" method="get">
<ul>
	<% if(help.id == null){ %>
		<li><input type="text" name="title" placeholder="请添加分类，多个以|隔开"/></li>
		<li>
			<% for(var i=0; i<help.list.length; i++) { %>
				<a href="/?id=<%= help.list[i].id %>"><%= help.list[i].title %></a>
			<% } %>
		</li>
	<% } else { %>
		<li>
			<input type="hidden" name="id" value="<%= help.id %>"/>
		</li>
		<li>标题：<input type="text" name="subtitle"></li>
		<li>内容：<textarea name="content"></textarea></li>
	<% } %>
		<li><input type="submit" value="添加"/></li>
</ul>
</form>
</body>
</html>